body {
  padding: 15px 30px;
}

body header {
  border-bottom: 2px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  text-transform: uppercase;
}

header nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 15px;
}

header nav ul li a {
  color: rgb(0, 153, 0);
  text-decoration: none;
}

