/*.img-wrapper .image-bg {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  object-fit: cover;*/
/*}*/

:root {
  --clr-gray-dark: #cecece;
  --clr-gray-light: #d0d0d0;
}


body {
  background-color: #e9e9e9;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  width: 912px;
  box-shadow: 3px 5px 5px 0 rgba(186, 186, 186,0.7);
}
.img-wrapper {
  width: 50%;
  color: #FFFFFF;
  background-image: url("image/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 540px;
  position: relative;

}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.8);
  z-index: 1;
  position: absolute;
}
.img-wrapper .logo {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 2;
  font-weight: bold;
}

.titles-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 2;
}

.titles-wrapper .title {
  font-weight: 100;
  font-size: 36px;
  color: rgba(248,248,248,0.8);
}
.titles-wrapper .sub__title {
  font-weight: 100;
  font-size: 24px;
  color: rgba(248,248,248,0.8);
}

.img-wrapper .items {
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  gap: 15px;
  font-size: 18px;

}
.form {
  background-color: #FFFFFF;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding:52px 46px;
  gap: 5px;
}
label {
  color: var(--clr-gray-light);
}
input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-color:#d4d4d4;
  padding-left: 15px;
  margin-bottom: 18px;
  /*font-size: 20px;*/
  padding-top: 10px;
}
input:nth-of-type(4) {
  margin-bottom: 51px;
}
::placeholder {
  color: #a29fa1;
  font-size: 20px;
  vertical-align: center;
  font-weight: 200;
}
button {
  background-color: #111111;
  color: #FFFFFF;
  border-radius: 36px;
  padding: 8px 40px;
  margin-right: 15px;

}

a {
  color: #a29fa1;
}
