@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root {
  --clr-green: #a4c63a;
  --clr-gray: #9f9f9f;
}
body {
  font-family: Poppins, sans-serif;
}
main {
  /*text-align: center;*/
  padding-top: 100px;
}
.page-title {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 40px;
}
span {
  color: var(--clr-green);
  font-weight: 600;
}
.page-subtitle {
  text-align: center;
  margin-bottom: 100px;
  color: var(--clr-gray);
  font-size: 19px;
}
.cards {
  display: flex;
  gap: 30px;
  width: 65%;
  margin: 0px auto;
}
.card .card__body {
  padding: 30px;
  background-color: #f7f7f7;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .body__title {
  margin-bottom: 20px;
  font-size: 20px;
}
.card .body__desc {
  margin-bottom: 20px;
  color: var(--clr-gray);
  line-height: 2;
}
.card .card__btn {
  background-color: var(--clr-green);
  color: #FFFFFF;
  border: 1px solid var(--clr-green);
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 600;
}

